.but{
    background-image: url("https://t3.ftcdn.net/jpg/04/06/60/94/360_F_406609490_6XTEHYNqcfqNbkQjN5B2kOy1yIYE5nD1.jpg");
height: 100vh;
width: 100%;
text-align: center;
background-repeat: no-repeat;
background-size: cover;
}