.soft{
    border-radius: 15px;
    border-top-style:solid;
    border-top-color: blue;
    border-top-width:10px;
}
.ims{
    border-radius: 15px;
    border-top-style:solid;
    border-top-color: rgb(147, 28, 132);
    border-top-width:10px;
}
.dm{
    border-radius: 15px; 
    border-top-style:solid;
    border-top-color: rgb(0, 255, 34);
    border-top-width:10px;
}
.sap{
    border-radius: 15px;
    border-top-style:solid;
    border-top-color: yellowgreen;
    border-top-width:10px;
}